body, html{
    margin: 0;
    padding: 0;
}
.homepageTitle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    font-weight: 500px;
    text-align: center;
}
.info p {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer {
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: auto;
}
.personal footer{
    float: right;
    text-align: right;
    margin: auto;
}
.personal a{
    text-decoration: none;
}
.personal a:hover{
    text-decoration: underline;
    color: antiquewhite;
}
.copyright footer{
    float: left;
    text-align: start;
} 
