.nav {
    list-style-type: none;
    overflow: hidden;
    background-color: red;
    margin:0;
    padding: 5;
    border-radius: 25px;
}
.nav li {
    float: left;
    width:calc(100%/4);
    padding: 10px 10px;
    background-color: red;
    box-sizing: border-box;
}
.nav li a{
    border-radius: 25px;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    color: white;
    transition: background-color .25s, color .25s, transform .25s;
    box-sizing: border-box;
}
.nav li a:hover {
    background-color: white;
    color: red;
    transform: scale(1.2);
}

.homepageTitle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    font-weight: 500px;
    text-align: center;
}
.info p {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer {
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.personal footer{
    float: right;
    text-align: right;
    padding: 10px 20px;
    margin: 0;
}
.personal a{
    text-decoration: none;
}
.personal a:hover{
    text-decoration: underline;
    color: antiquewhite;
}
.copyright footer{
    float: left;
    text-align: start;
    margin: 0;
    padding: 0%;
} 
